.tree {
  background-color: #efefef;
  height: 100%;
  padding: 10px;
  font-family: monospace;
}

@keyframes animatename{
  0%{
    transform: translateX(30px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}

.node{
  display: flex;
  flex-direction: column-reverse;
  animation: animatename 1s linear;
}

.ident {
  display: flex;
  flex-direction: row;
  margin-left: 2.37rem;
  margin-bottom: 1rem;
}

.vertical-line{
  border-left:1px dashed rgba(211, 58, 58, 0.277);  
  position: absolute;
  z-index: 4;
  min-height: 99vh;
  margin-top: -22rem;
}

.delete {
  cursor: pointer;
  margin-left: 1rem;
  user-select: none;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
}

.nodeText {
  display: flex;
}

.classificationid {
  color: var(--blue-color);
  margin-right: 1rem;
}

.spinposition {
  padding-top: 50%;
  padding-bottom: 50%;
  padding-left: 50%;
  padding-right: 50%;
}